@use "./../utils" as *;

// 메인 네비게이션
.menu {
  
  @include mobile {
    
   @at-root .is--active &__list {
      transform: none;
    }
    &__list {
      background: $accent-opacity-color;
      width: 70vw;
      height: 100vh;
      transform: translateX(-150%);
      position: fixed;
      //화면에 띄우기
      left: 0;
      top: 0;
      @include padding(20px);
    }

    &__item {
      border-bottom: 1px solid $black;
  }
}
  @include desktop {
    background: $brown;

 
    @at-root .menu__list {
      // @include containerMax;
      max-width: 1024px;
      margin-left: auto;
      margin-right: auto;
      @include paddingX(4px);
      @include paddingY(16px);
      color: $white;
      font-size: rem(18px);
      font-weight: 700;
      @include flexbox($justify: space-between);
    }

    
  }

  &__link {
    display: block;
    @include padding(16px);
  }
  
}
